
.container {
  display: grid;
}


header {
  background-color: #004E64;
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  padding: 1em 1em 1em 2em;
  margin: -1em -1em 0em -1em;
}


section.main {
  grid-column: 2 / span 11;
  padding: 1em 4em 1em 4em;
  margin: -1em -1em 0em -1em;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;
}

div.box {
  padding: 1em 1em 1em 1em;
  width: 15em;
  height: 25em;
  overflow: hidden;
  margin-bottom: 1em;
  margin-right: 1em;
}

div.box:hover {
  border-width: 1px;
  box-shadow: 4px 4px 4px 4px lightgray;
}

aside {
  background-color: #0F7173;
  grid-column: 1 / span 1;
  padding: 1em 2em 1em 2em;
  margin: 0em -1em 0em -1em;
}

footer {
  background-color: #004E64;
  position: relative;
  clear: both;
  overflow: hidden;
  text-align: center;
  grid-column: 1 / span 12;
  padding: 2em 4em 2em 4em;
  margin: -1em -1em 0em -1em;
}

section.footer-section {
  grid-column: 1 / span 4;
  grid-row: auto;
}

p {
  color: #36454f;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #FFFFFA;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

h2 {
  color: #F6AE2D;
  font-family: 'Playfair Display', serif;
}

h3 {
  color: #0F7173;
  font-family: 'Source Sans Pro', sans-serif;
}

h4.footer-h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFA;
}

strong {
  text-transform: uppercase;
}

hr.thick-blue {
	border-color: #0F7173;
  border-width: thick;
  border-style: solid;
}

img.project-image {
  height: 100px;
}

figure.project-figure {
  text-align: center;
  font-style: italic;
  color: #36454f;
}

a:visited {
  color: #F6AE2D;
}

a.one {
  text-transform: uppercase;
  text-decoration: none;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  background-color: #0F7173;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 2em;
  line-height: 40pt;
}

a.one:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: #0F7173;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  background-color: #F6AE2D;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 2em;
  line-height: 40pt;
}
