h1 {
  color: purple;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h2 {
  color: red;
  font-family: Tahoma, Geneva, sans-serif
}

h3 {
  color: blue;
  font-family: "Lucida Console", Monaco, monospace
}


p {
  color: green;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: dodgerblue;
}

figure.project-figure {
  width: 150px;
  float: right;
  text-align: center;
  font-style: italic;
  border-color: CadetBlue;
  border-style: double;
  border-width: 2px;
  padding: 0.4em;
  margin: 0.4em;
}
