h1 {
  color: #004E64;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
  color: #F6AE2D;
  font-family: "Lucida Console", Monaco, monospace;
}

h3 {
  color: #0F7173;
  font-family: Tahoma, Geneva, sans-serif;
}

a:visited {
  color: inherit;
}

h3.nav-h3 {
  color: #FFFFFA;
  text-transform: uppercase;
}

h4 {
  color: #004E64;
  font-family: Tahoma, Geneva, sans-serif;
}

h4.footer-h4 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  color: #FFFFFA;
}

header {
  padding: 5px;
  padding-left:10px;
  background-image: linear-gradient(-180deg, #FFFFFA, #004E64);
}

nav {
  background-color: #004E64;
  padding: 2px;
  padding-left:10px;
}

p {
  color: #36454f;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FFFFFA;
}

figure.project-figure {
  width: 250px;
  text-align: center;
  font-style: italic;
  border-color: #0F7173;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.4em;
  margin: 0.4em;
  color: #36454f;
}

img.project-image {
  width: 100px;
}

footer {
  background-color: #004E64;
  padding: 10px;
  padding-left:10px;
}
