h1 {
  color: #004E64;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

h2 {
  color: #F6AE2D;
  font-family: 'Playfair Display', serif;
}

h3 {
  color: #0F7173;
  font-family: 'Source Sans Pro', sans-serif;
}

a.one:link {
  color:#004E64;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  background-color: #004E64;
  margin: 5px;
}
a.one:hover {
  color:#FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  background-color: #F6AE2D;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
}
a.one:visited {color:inherit;}

a:visited {
  color: inherit;
}

h4 {
  color: #004E64;
  font-family: 'Source Sans Pro', sans-serif;
}

h4.footer-h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: #FFFFFA;
}

header {
  padding: 1em 1em 3em 5em;
  margin: -1em -1em 0em -1em;
  background-image: linear-gradient(-180deg, #FFFFFA, #004E64);
}

nav {
  background-color: #004E64;
  padding: 1em 4em 1em 5em;
  margin: -1em -1em 0em -1em;
}

p {
  color: #36454f;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #FFFFFA;
}

figure.project-figure {
  text-align: center;
  font-style: italic;
  color: #36454f;
}

img.project-image {
  width: 100px;
}

footer {
  background-color: #004E64;
  padding: 2em 4em 2em 4em;
  margin: -1em -1em -1em -1em;
  position: relative;
  text-align: center;
}

section.main-section {
  margin: 0em 4em 0em 4em;
}

.box {
  width: 300px;
  height: 375px;
  padding: 15px;
  margin-bottom: 1em;
  margin-right: 1em;
  border-color: #0F7173;
  border-style: double;
  border-width: 4px;
  background-color: white;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;
}
